nav {
    height: 50px;
}

progress {
    width: 100%;
    margin: 10px 0px;
}

.search {
    display: flex;
    width: 100%;
    justify-content: space-between;
    label {
        margin: 0px 5px;
    }
}

.add-text-fields {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    button {
        height: 20px;
        width: 40px;
    }
}

.home-page {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    .item-section {
        padding: 5px;
        width: 50%;
        height: 500px;
        overflow-y: scroll;
        .to-do-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            button {
                height: 15px;
                width: 15px;
                margin: 0px 5px;
            }
            label {
                margin-left: 5px;
            }
            .addItem {
                background: url('../images/add-button.png') no-repeat;
                background-size: 100%;
            }
            .icon-button {
                display: flex;
                justify-content: space-around;
                width: 15px;
                height: 15px;
                div {
                    width: 15px;
                    height: 15px;
                    margin-top: -7px;
                    margin-left: -2px;
                }
                .visible.content {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
    .categories-section {
        padding: 5px;
        width: 50%;
        height: 500px;
        overflow-y: scroll;
    }
    
    .hideCategory {
      display: none;
    }


    .all-categories {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .category-wrap {
            display: flex;
            justify-content: space-between;
            .category {

                display: flex;
                justify-content: space-between;
                align-items: center;
                // border: 1px solid black;
                // width: 300px;
                height: 40px;
                button {
                    // height: 15px;
                    // width: 15px;
                    //margin: 0px 5px;
                }
                label {
                    margin-left: 5px;
                }
                .expandCatalog {
                    background: url('../images/expand-button.png') no-repeat;
                    background-size: 100%;
                }
                .editCatalog {
                    background: url('../images/edit-button.png') no-repeat;
                    background-size: 100%;
                }
                .category-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 5px;
                    label {
                        margin: 5px;
                    }
                }
                .icon-button {
                    display: flex;
                    justify-content: space-around;
                    width: 15px;
                    height: 15px;
                    div {
                        width: 15px;
                        height: 15px;
                        margin-top: -7px;
                        margin-left: -2px;
                    }
                    .visible.content {
                        width: 15px;
                        height: 15px;
                    }
                }
                .delete-and-add-category {
                    display: flex;
                    justify-content: space-around;
                    width: 70px;
                    float: right;
                }
            }
        }
    }
}